# --- Custom Rules ---

# Ignore user-specific cookies file
cookies.txt

# Ignore all content inside the chapters folder...
chapters/*
# ...but DO NOT ignore the placeholder file.
!chapters/.gitkeep

# Ignore the virtual environment folder
venv/
